<!DOCTYPE html>
<html>
<head><title>Create Event</title></head>
<body>
<h2>Create Event</h2>
<form method="POST" action="/events/create">
    Title: <input name="title" /><br/>
    Date: <input name="date" type="date" /><br/>
    Location: <input name="location" /><br/>
    <button type="submit">Create</button>
</form>
</body>
</html>
